<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>메인 페이지</h1>
<button type="button" class="btn btn-primary" onclick="location.href='/hj/post'">글 쓰기</button>
<button type="button" class="btn btn-primary" onclick="location.href='/hj/post-list'">글 목록</button>

</body>
</html>

<!-- 문서타입 선언 -->
<!-- <!DOCTYPE html-->
<!--head>-->
<!-- 문서의 문자 인코딩을 UTF-8로 설정 -->
<!-- <meta charset="UTF-8">-->
<!-- 문서의 제목 설정 -->
<!-- <title>Title</title>-->
<!-- </head> -->
<!-- <bod> -->
<!-- 메인 페이지 제목 -->
<!-- <h1>메인 페이지</h1> -->
<!-- 글 쓰기 페이지로 이동하는 버튼 -->
<!-- <button type="button" class="btn btn-primary" onclick="location.href='/hj/post'">글 쓰기</button>-->
<!-- 글 목록 페이지로 이동하는 버튼 -->
<!-- <button type ="button" class="btn btn-primary" onclick="location.href='/hj/post-list'">글 목록</button>-->
<!-- </body> -->
<!-- </html>-->






